body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
#main-react-exchange-app {
  display: flex;
  // flex-direction: column-reverse;
  justify-content: space-between;
  padding: 20px 16px 44px 16px;
  border-radius: 8px;
  border: 1px solid #dfe1e5;
  position: relative;
  background-color: #fff;
  min-width: 720px;

  .current {
    .rate-1 {
      font-family: Roboto,HelveticaNeue,Arial,sans-serif;
      font-weight: normal ;
      font-size: 16px ;
      color: #70757A;
      margin-top: 10px;
    }
    .rate-2 {
      margin-top: 4px;
      font-size: 36px ;
      font-weight: normal ;
      font-family: arial,sans-serif;
      color: #212121 ;
    }
    .date {
      color: #70757A;
      margin-top: 8px;
      margin-bottom: 16px;
      font-size: 12px;
      font-family: arial,sans-serif;
    }
  }

  .input-metods {
    display: flex;
    justify-self: flex-end;

    .inputs {
      display: flex;
      flex-direction: column;

      div {
        position: relative;

        .first-input,
        .second-input {
          font-family: Roboto,HelveticaNeue,Arial,sans-serif;
          font-weight: normal ;
          font-size: 16px ;
          color: #70757A;
          margin-top: 10px;
          background: transparent;
          border-radius: 6px;
          border: 1px solid #DFE1E5;
          height: 36px;
          padding: 0 0 0 12px;
          margin: 10px 10px 0 0px;
        }

        .copy-btn {
          color: #70757A;
          position: absolute;
          right: 18px;
          top: 20px;
          display: inline-block;
          fill: currentColor;
          height: 21px;
          line-height: 21px;
          width: 21px;
          cursor: pointer;
        }
      }
    }

    .selects {
      display: flex;
      flex-direction: column;

      div {
        position: relative;

        .first-select,
        .second-select {
          -webkit-appearance: button;
          border: none;
          font-size: 13px;
          list-style: none;
          outline: none;
          text-align: left;
          text-decoration: none;
          vertical-align: middle;
          width: 209px;
          color: #202124;
          height: 38px;
          padding-left: 8px;
          background-image: none;
          border-radius: 6px;
          border: 1px solid #DFE1E5;
          margin-top: 10px;
        }

        .arrow-down {
          color: #70757A;
          position: absolute;
          right: 5px;
          top: 18px;
          display: inline-block;
          fill: currentColor;
          height: 24px;
          line-height: 24px;
          width: 24px;
          pointer-events: none;
        }
      }
    }
  }

  .provided {
    text-decoration: none;
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: block;
    font-size: 12px;
    color: #70757A;
  }
}

@media (max-width: 750px) {
  #main-react-exchange-app {
    align-items: center;
    flex-direction: column;
    min-width: auto;
  }
  #main-react-exchange-app .input-metods .inputs div .first-input,
  #main-react-exchange-app .input-metods .inputs div .second-input {
    margin-left: 0;
  }
}
  
@media (max-width: 500px) {
  #main-react-exchange-app .input-metods .inputs div .first-input,
  #main-react-exchange-app .input-metods .inputs div .second-input,
  #main-react-exchange-app .input-metods .selects div .first-select, 
  #main-react-exchange-app .input-metods .selects div .second-select{
    width: 102px;
  }
}

